## Module 3 Practice - Advanced Python
By Ken Wilson

In this quiz, you will walk through building a web scraper that pulls data from the internet into a pandas dataframe for analysis. The link that you will be using to practice is this URL: [https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html](https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html)

Go to the page shown above and observe the table of data on the page. In this project, you will follow along with the videos to scrape this data into a pandas dataframe. Afterwards, you will compute some summary statistics on the data set.

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [5]:
response = requests.get(' https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [6]:
soup = BeautifulSoup(response, 'html.parser')

In [22]:
id = []
name = []
age = []

for employee in soup.find('table').find_all('tr', class_ = 'employee'):
    id.append(employee.find_all('td')[0].text)
    name.append(employee.find_all('td')[1].text)
    age.append(employee.find_all('td')[2].text)

In [28]:
print(id)
print(name)
print(age)

['101', '102', '103', '104', '105', '106', '107', '108']
['John Doe', 'Jane Smith', 'Robert Johnson', 'Mary Johnson', 'Michael Brown', 'Susan Davis', 'David Wilson', 'Linda Miller']
['28', '32', '24', '29', '35', '27', '31', '33']

In [27]:
df = pd.DataFrame({
    'id' : id,
    'name' : name,
    'age' : age
})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

In [32]:
df['id'] = df['id'].astype('Int64')
df['age'] = df['age'].astype('Int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      Int64
 1   name    8 non-null      object
 2   age     8 non-null      Int64
dtypes: Int64(2), object(1)
memory usage: 340.0+ bytes

### **Question 1**
What is the average age of employees found at the link above?
Group of answer choices
* 29.875
* 30.175
* 28.125
* 29.667
### Answer: **29.875**

In [39]:
print(df['age'].mean())

29.875

### **Question 2**
What is the standard deviation of employees found at the link above (according to pandas)? Round final answer to two decimal places.
Group of answer choices
* 3.56
* 3.81
* 5.66
* 2.63
### Answer: **3.56**

In [37]:
print(round(df['age'].std(),2))

3.56